*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
 body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
 }
 


.container{

       width:99vw;
       min-height:100vh;
       display:flex;
       gap:20px;
       justify-content: space-evenly;
        align-items: center;

        background: linear-gradient(to top right,#041308,#0b3317);

}
.left-text{
    flex-basis: 30%;
    color:white;
}
.nav{
    font-size: 3rem;
    text-align: start;

}
.raj{
    font-size: 1.5rem;
    margin-top: 20px;
    text-align: start;
}
.right-image{
    flex-basis: 45%;
    display:grid;
    grid-template-columns:  2fr 2fr 2fr;
    grid-auto-rows: 130px;
}

.box{
    background-size:cover; 
    background-position:top;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition:1s ease-in-out;
}
.box:hover{
    background-position:center ;
}


.col-2{
     grid-column:span 2;
}

.row-2{
    grid-row:span 2;
}

