body {
    text-align: center;
    color: #FC9DDF;
    border: 5px solid black;
    height:50vh;
    width:50vw;
    position:relative;
    left:40%;
    overflow:auto;

}

p:hover{
       color: blue;
}

header{
    font-size: 2.5rem;
}

p{
    font-size: 1.85rem;
}

.contact{
    color: blueviolet;
}
header{
    border: 5px solid black;
    width:35vw;
    border-radius: 10px;
}
.hello{
    display: inline;
    color:red;
}

.hel{
    display:inline;
    color:blue;
}

.hi{
    display:inline;
    color:green;

}
header{
    position:relative;
    left:30%;
    right:40%;
}





